/* page navbar dan page 1 */
.navbar-brand {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  color: white !important;
}

.navbar-nav .nav-link {
  font-family: "open sans" sans-serif !important;
  font-weight: bold !important;
  font-size: 12px !important;
  color: #ffffff !important;
}

.mb-4 {
  color: white;
  margin-bottom: 1.5rem !important;
  font: message-box;
}

.btn-group-lg > .btn,
.btn-lg {
  font-family: "open sans" sans-serif;
  font-weight: bold;
  border-radius: 3px;
  padding: 12px 68px;
  font-size: 14px;
  color: #000;
  background-color: #fbb242;
  border-color: #fbb242;
}

.navbar-wrapper {
  position: relative;
}

.carousel {
  top: 0;
}

.carousel-inner {
  width: 100%;
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  z-index: 10;
  color: white;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  width: 100%;
}
/* akhir page 1 dan navbar */
/* page 2 */
#page-1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/main-bg.jpg");
  height: 130vh;
  width: 100%;
}

#page-2 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/the-games-bg.jpg");
  height: 130vh;
  width: 100%;
}

/* page 3 */
#page-3 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/features.jpg");
  height: 130vh;
  width: 100%;
}

/* page 4 */
#page-4 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/requirements.png");
  height: 130vh;
  width: 100%;
}
.table {
  color: #ffffff;
}

p {
  color: #fbb242;
}

/* page 5 */

#page-5 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/top-score-bg.png");
  height: 130vh;
  width: 100%;
}
.card {
  border: 0px;
}
#card {
  background-image: url(assets/blankimage.jpg);
}

/* page 6 */
#page-6 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/newsletter.png");
  height: 130vh;
  width: 100%;
}

.form-control {
  background-color: grey;
  border: grey;
}

.text {
  color: #ffffff;
  font-size: 8px;
}

.footers {
  font-size: 12px;
}
